"[http]" 
"    sslVerify = false" 
"    sslVersion = tlsv1.2" 
"    postBuffer = 524288000" 
"[core]" 
"    sparsecheckout = true" 
"[http]" 
"    sslVerify = false" 
"    sslVersion = tlsv1.2" 
"    postBuffer = 524288000" 
"[core]" 
"    sparsecheckout = true" 
